//main: main.scss


// bg-colors
$color: #04619f;
$white-bg :#ffffff;
$text-color: #000000;
$bg-blue :#4F46E5;



//font-size
$font-size_13: 13px;
$font-size_16 : 16px;
$font-size_28px: 28px;
$font-size_40px : 40px;
$font-size_58px : 58px;
