div { 
  background-color: yellow;
  width: 225px;
  padding: 1em 0;
  border: 5px solid rgba(156, 224, 251, .5);
}

.nomargin { margin: 0; }

#border-box { background-clip: border-box; }

#padding-box { background-clip: padding-box; }

#content-box { background-clip: content-box; }

/* styling for the Pen, unrelated to background-clip */

body { font-family: sans-serif; }

div { margin-bottom: 2em; }